extends ../layouts/application
block content

  - each project in table
    .card
      a.btn-rectangle(href=project.slug)
        img.card-logo(src= routes.logos + project.logo)
        .title= project.name
        .category= project.protocols

      a.btn-square(href=project.url)
        i.fa.fa-external-link-square
