extends ../layouts/application
include ../projects/mixins
block title
  = project.name + ' - '
  = t.Projects
block content

  .content-main
    +project-head(project)
    +project-tail(project)

  .content-side

    .section
      a.pipe(href=routes.root)
        = t['Platform Support']

      each cat in project.categories

        a.bar.parent(href=routes.categories + cat.slug)
          .label
            if cat.name == "Routers" || cat.name == "Servers" || cat.name == "Web Services"
              = t[cat.name]
            else
              = cat.name

        each subcat in cat.subcategories

          a.bar.child(href=routes.subcategories+cat.slug+'-'+subcat.slug)
            .label= t[subcat.name]
