extends ../layouts/application
block content

  .card
    .btn-rectangle
      img.card-logo(src= routes.logos + project.logo)
      .title= project.name
      .category= project.protocols

    a.btn-square(href=project.url)
      i.fa.fa-external-link-square

  - if project.description != "" 
    .section
      .text-block= project.description


