.section#privacy
  margin 0 auto
  width 100%
  p 0 0 1em
  .content
    p 1em
    p
      m 0 0 1.5em
      max-width 50em
    iframe
      w 100%
      bg #eee
      f 1em/1.5 sans
      b 1px solid #ddd
      p 1em
