#header
  border-bottom 1px solid #ddd
  bg #fff

  ul.tabs
    bt 1px solid #ddd
    clearfix()
    bg #eee

    li
      fl()
      w 107px

      a
        d block
        f 1em/2 sans
        c txt
        p 0 1em
        c txt
        br 1px solid #ddd

        &:hover
          bg #ddd

        &.active
          bg #fff

      &:last-of-type
        w 106px
