#header
  /*
  position fixed
  top 0
  */
  w 320px
  padding 0
  border-bottom 1px solid #ddd
  bg #fff
  box-shadow b10 0 0 1.5em
  z-index 100

  .btn_corner
    ta center
    cursor pointer
    w 44px
    h 43px

    .btn
      d block
      lhh 43px
      c txt

    &.left
      float left
      br 1px solid #eee

    &.right
      float right


    &:hover
      .btn
        bg #eee
        c hover

    &:active
      .btn
        bg #ddd
        c light
  ul.tabs
    bg #eee
    bt 1px solid #ddd
    clear both
    clearfix()
    li
      fl()
      w 160px
      br 1px solid #ddd
      a
        ta center
        d block
        lh 2em
        c txt

#page_title
  fl left
  w 320px - 88px
  p 0 .75em
  font-size 1em
  line-height 43px
  #brand
    text-transform uppercase

  a
    c txt

    .lightning
      c light

    &:hover,
    &:hover .lightning
      color #09c
