body
  bg #fff

  p.intro
    font 1.25em/1.5 sans
    pt 1.5em

  strong
    color: #333
    font-weight bold
   
  section
    w 100%
    clearfix()

    h3
      bt 1px solid bc
      display block
      w 100%

    div.prop, div.free
      float left
      height auto
      ul
        bb none
        li:last-of-type
          bb none
    div.prop
      w 33%
    div.free
      w 67%
      bl 1px solid bc
    div.notes
      clear both
