body
  #header-site ul.nav
    li#donate, li#contribute
      d block

  p.intro
    font 1.25em/1.5 sans
    pt 1.5em

  strong
    color: #333
    font-weight bold
   
  section
    w 100%
    clearfix()

    h3
      bt 1px solid bc
      display block
      w 100%

    div.prop, div.free
      float left
      height auto
      ul
        bb none
        li:last-of-type
          bb none
    div.prop
      w 33%
      .logo
        mr .75em
        img
          display block
          width 32px
          height 32px

      .name
        lh 32px

    div.free
      w 67%
      bl 1px solid bc

    div.notes
      clear both

  #jPanelMenu-menu
    ul
      li
        a
          color #eee
          display block
          padding 0 .75em
          font 14px/2 sans
          bt 1px solid #444
          bb 1px solid #222
          &:hover
            c #fff
            bg #444
