body
  bg #fff
    
  section
    w 100%
    clearfix()

    h3
      bt 1px solid bc
      display block
      w 100%

    div.prop, div.free
      float left
      height auto
      ul
        bb none
        li:last-of-type
          bb none
    div.prop
      w 33%
    div.free
      w 67%
      bl 1px solid bc
    div.notes
      clear both
