body
    
  section
    w 100%
    clearfix()

    h3
      bt 1px solid bc
      display block
      w 100%

    div.prop, div.free, div.notes
      float left
      height auto
      ul
        bb none
        li:last-of-type
          bb none
    div.prop
      w 25%
    div.free
      w 40%
      bl 1px solid bc
    div.notes
      clear none
      w 35%
      bl 1px solid bc
      p
        f 14px/1.5 sans
