x = 16px
sm = 13px

df()
  s x
  lh 1.5
  ff sans
  c txt

anchor()
  c link
  td none
  &:hover, &:focus
    c hover

code
  font-family: monospace

span.dim
  c dim
span.light
  c light

strong
  fw bold

a
  anchor()

h1
  s x*1.25
  lh 2.4
  ff sans
  c #333
  p 0 x*.5
  bt 1px solid bc

h2
  s x*1
  lh 2
  ff sans
  c #333
  fw bold
  p 0 x*.5
  bt 1px solid bc

h3
  lh 2
  ff sans
  c txt
  bb 1px solid #ddd
  bg #f3f3f3
  p 0 x*.5

  label.toggler
    float right
    p 0 .5em
    c #666

h3 > a
  color: #000

h3 > a:hover
  color: #000
  text-decoration: underline

h4, .h4
  d block
  bg #333
  color #fff
  font-size 75%
  text-transform uppercase
  letter-spacing 1px
  lh 2em
  font-weight normal
  p 0 x * 0.75
  &.h4-android
    bg #99cc00
  &.h4-ios
    bg #666

.fs
  border: 1px solid #ddd
  font-size: 12px
  line-height: 16px
  display: inline-block
  padding: 0 .4em
  font-weight: normal
  vertical-align: text-bottom

.fs.icon
  padding: 0
  background: transparent
  border: none

.fs.icon img
  width: 18px
  height: 18px
  vertical-align: bottom

.fs.newbie
  background: #4a0
