.text-block
  p .66em 1em 0
  f 85%/1.5 sans
  bg #fff
  bb 1px solid #ddd

  p, ul, ol
    m 0 0 .66em

  ul, ol
    ml 2em

  ul
    list-style disc

  ol
    list-style decimal

  strong
    fw bold

  em
    fs italic
