.text-block
  bb 1px solid #ddd
  p .66em 1em 0
  f 85%/1.5 sans
  bg #fff
  p, ul, ol
    m 0 0 .66em
    va top
  ul, ol
    pl 2em
  ul
    list-style disc
  ol
    list-style decimal
  strong
    fw bold
  em
    fs italic
