footer
  padding: .5em 0 .5em
  background: #333
  color: #eee
  border-top: 1px solid #777

footer ul
  list-style: none
  padding: 0
  height: 27px

footer ul li
  float: left
  border-right: 1px solid #777
  padding-right: 1em
  margin-left: 1em

footer ul li.last
  border: none

p.disclaimer
  clear: both
  padding: 0 1em


