#header-site
  height: 3em
  border-bottom: 1px solid #ddd
  border-top: 3px solid #333

#header-site ul
  list-style: none
  margin: 0
  padding: 0

#header-site ul li
  float: left
  padding: 0 16px
  line-height: 3em
  border-right: 1px solid #ddd

#header-site ul li.right
  float: right
  border-left: 1px solid #ddd
  border-right: none

#header-site ul li a.plain
  color: #333

#header-site ul li a.plain:hover
  color: #09c

#header-site ul li#brand
  padding: 0

#brand h1
  padding: 0 16px;
  margin: 0 .10em 0 0
  font-size: 1.25em
  line-height: 48px
  text-transform: uppercase
  text-align: center
  display: inline-block
  font-weight: normal

#brand h1 a
  color: #333

#brand h1 a .lightning
  color: #999

#brand h1 a:hover,
#brand h1 a:hover .lightning
  color: #09c

#page-switch
  display none

#page-switch .switch
  border: 1px solid #ddd
  height: 30px
  margin: 8px 0

#page-switch .switch a.switch-button
  line-height: 30px
  display: block
  padding: 0 .5em
  float: left
  width: 90px
  text-align: center

#page-switch .switch a.switch-button.default
  border-right: 1px solid #ddd

#page-switch .switch a.switch-button.active
  color: #333
  background: #fff
  cursor: default

#page-switch .switch a.switch-button.inactive
  background: #eee
  color: #999

#page-switch .switch a.switch-button.inactive:hover
  color: #09c
  background: #f5f5f5

#header-site ul li#lang select
  margin: 0
  vertical-align: middle

