table
  width: 100%

table tr
  border-top: 1px solid #ddd

table th

table th
  padding: 0 1em
  line-height: 2em
  color: #666
  text-align: left
  font-weight: normal

table td
  padding: .25em 0 0

table td ul
  padding: 0 1.5em
  list-style: none

table td ul li
  clear: both

table td ul li:after
  content: " "
  visibility: hidden
  display: block
  height: 0
  clear: both

th.section, th.prop, th.free,
td.section, td.prop, td.free
  border-right: 1px solid #ddd

table td.section
  width: 15%
  padding: 0 1em
  vertical-align: top

td.prop
  width: 20%
  vertical-align: top

td.prop ul li
  line-height: 32px
  margin: 0 0 1em

td.prop .logo
  float: left
  margin-right: .75em

td.prop .logo img
  display: block
  width: 32px
  height: 32px

td.free
  width: 40%
  vertical-align: top
  padding: 0 0 1.5em

td.free li
  margin: 0 0 1.5em

td.free li.best
  border-bottom: 1px solid #efefef
  padding-top: .5em
  padding-bottom: 1.5em

td.free li.best:last-of-type
  padding-bottom: 0
  border-bottom: none

td.free li.best .name .title
  font-size: 1.5em
  line-height: 1.25em

td.free li.best .desc
  font-weight: bold

td.free .logo
  float: left
  margin-right: 1em

td.free .logo img
  display: block
  width: 50px
  height: 50px

td.free li a.name
  vertical-align: bottom

td.free li a.name:hover .title
  text-decoration: underline

td.free li .name .title
  font-weight: bold
  display: block

td.note
  width: 25%
  vertical-align: top
  padding: 1em 1.5em 1em 1em

td.note p,
td.note span.p
  display: block
  margin: 0 0 1em
  font-size: 14px
  max-width: 40em

td.note p a:hover,
td.note span.p a:hover
  text-decoration: underline

td.bottom a, #footer a
  color: #0ae

td.bottom a:hover, #footer a:hover
  color: #0bf
  text-decoration: underline

td.bottom
  background: #333
  border-top: 1px solid #666
  padding: 2em 1em
  color: #eee

td.bottom h2
  font-size: 1.5em
  color: #eee
  margin: 0 0 .667em

td.bottom h2 strong
  color: #fff

td.bottom blockquote
  background: #555
  padding: 2em
  margin: 0

td.bottom blockquote p
  margin: 0 0 1.5em
  color: #fff
  max-width: 60em

td.bottom blockquote a
  font-weight: bold

td.bottom blockquote cite
  font-style: normal

td.bottom ul
  list-style: square


