#table
  width: 100%

#table tr
  border-top: 1px solid #ddd

#table th

#table th
  padding: 0 1em
  line-height: 2em
  color: #666
  text-align: left
  font-weight: normal

#table 
  padding: .25em 0 0

#table  ul
  padding: 0 1.5em
  list-style: none

#table  ul li
  clear: both

#table  ul li:after
  content: " "
  visibility: hidden
  display: block
  height: 0
  clear: both

th.section, th.prop, th.free,
.section, .prop, .free
  border-right: 1px solid #ddd

#table .section
  width: 15%
  padding: 0 1em
  vertical-align: top

.prop
  width: 20%
  vertical-align: top

.prop ul li
  line-height: 32px
  margin: 0 0 1em

.prop .logo
  float: left
  margin-right: .75em

.prop .logo img
  display: block
  width: 32px
  height: 32px

.free
  width: 40%
  vertical-align: top
  padding: 0 0 1.5em

.free li
  margin: 0 0 1.5em

.free li.best
  border-bottom: 1px solid #efefef
  padding-top: .5em
  padding-bottom: 1.5em

.free li.best:last-of-type
  padding-bottom: 0
  border-bottom: none

.free li.best .name .title
  font-size: 1.5em
  line-height: 1.25em

.free li.best .desc
  font-weight: bold

.free .logo
  float: left
  margin-right: 1em

.free .logo img
  display: block
  width: 50px
  height: 50px

.free li a.name
  vertical-align: bottom

.free li a.name:hover .title
  text-decoration: underline

.free li .name .title
  font-weight: bold
  display: block

.note
  width: 25%
  vertical-align: top
  padding: 1em 1.5em 1em 1em

.note p,
.note span.p
  display: block
  margin: 0 0 1em
  font-size: 14px
  max-width: 40em

.note p a:hover,
.note span.p a:hover
  text-decoration: underline

.bottom a, #footer a
  color: #0ae

.bottom a:hover, #footer a:hover
  color: #0bf
  text-decoration: underline

.bottom
  background: #333
  border-top: 1px solid #666
  padding: 2em 1em
  color: #eee

.bottom h2
  font-size: 1.5em
  color: #eee
  margin: 0 0 .667em

.bottom h2 strong
  color: #fff

.bottom blockquote
  background: #555
  padding: 2em
  margin: 0

.bottom blockquote p
  margin: 0 0 1.5em
  color: #fff
  max-width: 60em

.bottom blockquote a
  font-weight: bold

.bottom blockquote cite
  font-style: normal

.bottom ul
  list-style: square


