body
  font: 16px/1.5 Arial, sans-serif
  color: #333
  padding: 0
  width: 100%
  direction: ltr

a
  text-decoration: none
  color: #06a

a:hover
  text-decoration: none
  color: #09c

.fs
  border: 1px solid #ddd
  font-size: 12px
  line-height: 16px
  display: inline-block
  padding: 0 .4em
  font-weight: normal
  vertical-align: text-bottom

.fs.icon
  padding: 0
  background: transparent
  border: none

.fs.icon img
  width: 18px
  height: 18px
  vertical-align: bottom

.fs.newbie
  background: #4a0

h2
  font-weight: normal
  color: #666
  margin: 0
  font-size: 1em

h2 strong
  color: #333

h3
  font-weight: bold
  font-size: 1em

h3 > a
  color: #000

h3 > a:hover
  color: #000
  text-decoration: underline

