body.ar
body.fa
body.he

  direction: rtl

  .ltr
    d none
  .rtl
    d block

  #header
    a#brand
      fr()

    .menu
      fl()
      .nav
        fr()
        
  .pipe
    &.positive, &.negative
      i.fa
        fl()
        ml -1em
        mr .5em
        bl none
        br 1px solid #ddd

  .bar
    ta right

    .label
      fr()

      .logo, i.fa
        fr()
        m 8px 0 0 12px

    .icon
      fl()
      margin-left -1em
      margin-right 0

  .card
    .btn-rectangle
      fr()

    .btn-square
      absolute()
      top 0
      left 0
      right inherit
      bl none
      br 1px solid #eee

    .card-logo
      mr 0
      ml x*0.75

    .title
      mr 0
      ml 44px

    .small
      mr 0
      ml 44px

  .card.head, .card.text
    .card-logo
      mr 0
      ml x*0.875

  .card-logo
    fr()
    mr 0
    ml x*0.75

@media (min-width: 481px)
  body.ar
  body.fa
  body.he
    .section
      .bar, .card
        fr()
        br none
        bl 1px solid #ddd

@media (min-width: 768px)
  body.ar
  body.fa
  body.he
    .section
      bl none
      br 1px solid #ddd

    &.root.index
    &.protocols.index
    &.categories.index
    &.about.index

      .pipe
        fr()

      .bars
        fr()
        bl none
        br 1px solid #ddd

      .bar
        bl none

@media (min-width: 980px)
  body.ar
  body.fa
  body.he

    .content-side
      fr()

      .text-block
        pl 0
        pr 1.5em

      .section
        ml 0
        mr 1em
        br none
        .bar
          bl none
          &.child
            pl 0
            pr 2em


    .content-main
      fr()

    &.categories.show
    &.subcategories.show
    &.protocols.show
    &.projects.show
      #container
        .content-side
          .section
            m 0 0 0 1em
        .content-main
          fl()

@media (min-width: 1200px)
  body

    &.categories.show
      #container
        .content-side
          top x*2 + 44px
          margin-left 1008px
          bg #fff
          z-index 100
        .content-main
          w 1008px
          .box
            mb 3em

    .sections
      clearfi()

      .section
        fr()

        &.free
          w 75%

          .pipe
            br 1px solid #ddd

        &.prop
          bl none
          w 25%

          &.empty
            d block

        .pipe
          i.fa
            d none

        .bar
          w 100% !important
          float none
          br none
          .label
            s 80%

        .filler-columns-two
          d none

