body.ar
body.fa
body.he

  direction: rtl

  .ltr
    d none
  .rtl
    d block

  #header
    a#brand
      fr()

    .menu
      fl()
      .nav
        fr()

  .bar
    ta right

    .label
      fr()

      .logo, i.fa
        fr()
        m 8px 0 0 12px

    .icon
      fl()
      margin-left -1em
      margin-right 0

  .card
    .btn-rectangle
      fr()

    .btn-square
      absolute()
      top 0
      right left
      bl none
      br 1px solid #eee

    .card-logo
      mr 0
      ml x*0.75

    .title
      mr 0
      ml 44px

    .small
      mr 0
      ml 44px

  .card.head, .card.text
    .card-logo
      mr 0
      ml x*0.875

  .card-logo
    fr()
    mr 0
    ml x*0.75

  @media (min-width: 481px)
    body
      d block

  @media (min-width: 768px)
    body
      d block

  @media (min-width: 980px)
    body
      d block
