extends ../layouts/application
block content
  
  .pipe About
    
  a.bar(href="./")
    .label Media Mentions
    .icon: i.fa.fa-angle-right

  a.bar(href="./")
    .label Privacy Policy
    .icon: i.fa.fa-angle-right

  a.bar(href="./")
    .label Download Site
    .icon: i.fa.fa-save

  .pipe Development

  a.bar(href="./")
    .label Donate BTC
    .icon: i.fa.fa-bitcoin

  a.bar(href="./")
    .label Issues Tracker
    .icon: i.fa.fa-external-link-square

  a.bar(href="./")
    .label Source Code
    .icon: i.fa.fa-external-link-square
