extends ../layouts/application
block title
  = t['Media Mentions'] + ' - '
  = t.About
block content
  
  .card.text.max
    .btn-rectangle
      .small 
        a(href=routes.about)= t.About
        = " /"
      .title= t['Media Mentions']

  .pipe
    span.i18n-catalan
      = t.Catalan
  .text-block
    div
      a.title(href='http://www.vilaweb.cat/noticia/4124465/20130612/alternatives-esquivar-programa-nord-america-despionatge-global.html')
        | “Alternatives per a esquivar el programa nord-americà d'espionatge global.”
      span.website VilaWeb.
      span.date 2013-06-12.
  .pipe
    span.i18n-german
      = t.German
  .text-block
    div
      span.author Beuth, Patrick.
      a.title(href='http://www.zeit.de/digital/datenschutz/2013-07/update-mein-digitaler-schutzschild')
        | “Wie Sie im Netz anonym und sicher bleiben.”
      span.website Zeit Online.
      span.date 2013-07-11.
    div
      span.author Borchers, Detlef.
      a.title(href='http://www.freitag.de/autoren/der-freitag/united-stasi-of-america')
        | “United Stasi of America.”
      span.website der Freitag.
      span.date 2013-06-27.
    div
      span.author Fennen, Nicolas.
      a.title(href='https://netzpolitik.org/2013/prism-break-mit-dieser-software-der-nsa-spionage-entgehen/')
        | “PRISM-Break: Mit dieser Software der NSA-Spionage entgehen.”
      span.website Netzpolitik.org
      span.date 2013-06-11.
    div
      span.author Frischholz, Andreas.
      a.title(href='http://www.computerbase.de/news/2013-07/vertrauen-der-nutzer-in-politik-und-wirtschaft-sinkt/')
        | “Vertrauen der Nutzer in Politik und Wirtschaft sinkt.”
      span.website Computerbase.de
      span.date 2013-07-27.
    div
      span.author Fröhlich, Christoph.
      a.title(href='http://www.stern.de/digital/online/geheimdienstueberwachung-prism-und-tempora-diese-dienste-schuetzen-vor-datenspionage-2033267.html')
        | “Diese Dienste schützen vor Datenspionage.”
      span.website Stern.de
      span.date 2013-07-04.
    div
      span.author Haller, Kai.
      a.title(href='https://www.focus.de/digital/gastkolumnen/haller/keine-chance-fuer-nsa-schnueffler-so-surfen-sie-unerkannt-durchs-netz_aid_1054376.html')
        | “So surfen Sie unerkannt durch das Internet.”
      span.website Focus.de
      span.date 2013-07-26.
    div
      span.author Ikhaya.
      a.title(href='http://ikhaya.ubuntuusers.de/2013/08/05/uebersicht-freie-software-prism-break-org/')
        | “PRISM-Break: Vorschläge für freie Alternativen zum Schutz der Privatsphäre.”
      span.website ubuntuusers.
      span.date 2013-08-05.
    div
      span.author Kuch, Alexander.
      a.title(href='http://www.teltarif.de/selbstschutz-prism-sicherheit/news/51773.html')
        | “Ratgeber: So schützen sich Internet-Nutzer selbst vor Spähern.”
      span.website Teltarif.de
      span.date 2013-07-16.
    div
      span.author red.
      a.title(href='http://meedia.de/internet/prism-break-so-surfen-sie-an-der-nsa-vorbei/2013/06/12.html')
        | “Prism-Break: So surfen sie an der NSA vorbei.”
      span.website Meedia.
      span.date 2013-06-12.
    div
      span.author Rixecker, Kim.
      a.title(href='http://t3n.de/news/prism-break-479226/')
        | “PRISM Break: Diese Tools und Dienste schützen eure Privatsphäre”
      span.website T3n.de
      span.date 2013-07-09.
    div
      span.author Röll, Nadja.
      a.title(href='http://www.srf.ch/kultur/netzwelt/surfen-ohne-dass-die-nsa-zuschaut')
        | “Surfen, ohne dass die NSA zuschaut.”
      span.website SRF K.text-blocktur.
      span.date 2013-07-16.
    div
      span.author Peikert, Denise.
      a.title(href='http://www.faz.net/aktuell/rhein-main/crypto-party-anleitung-zur-digitalen-selbstverteidigung-12309561.html')
        | “Anleitung zur digitalen Selbstverteidigung.”
      span.website Faz.net
      span.date 2013-07-28.
    div
      span.author Sabin, Denis.
      a.title(href='http://berlin.piratenpartei.de/2013/06/18/wir-demonstrieren-deal-with-it/')
        | “Wir demonstrieren. Deal with it!”
      span.website Piratenpartei Berlin.
      span.date 2013-06-18.
    div
      span.author Schieb, Jörg.
      a.title(href='https://web.archive.org/web/20141003211621/http://www1.wdr.de/fernsehen/aks/rubriken/angeklickt/angeklicktsichererimnetz100.html')
        | “Wie bewege ich mich sicher im Netz?.”
      span.website Aktuelle Stunde Wdr.de
      span.date 2013-06-14.
    div
      span.author Schischka, Benjamin.
      a.title(href='http://www.pcwelt.de/news/Diese_Programme_sperren_Lauscher_vom_US-Geheimdienst_aus-PRISM-break.org-7959148.html')
        | “Diese Programme sperren Lauscher vom US-Geheimdienst aus.”
      span.website PC-WELT.
      span.date 2013-06-12.
    div
      span.author Thoma, Jörg & Böck, Hanno.
      a.title(href='http://www.golem.de/news/abhoerskandal-verschluesselt-gegen-geheimdienste-1307-100361.html')
        | “Verschlüsselt gegen Geheimdienste.”
      span.website Golem.de
      span.date 2013-07-12.
    div
      span.author Vetter, Udo.
      a.title(href='https://www.lawblog.de/index.php/archives/2013/07/26/eine-ausrede-weniger/')
        | “Eine Ausrede weniger.”
      span.website law blog.
      span.date 2013-07-26.
    div
      span.author Walter, Martin.
      a.title(href='http://www.ard.de/home/ratgeber/Gut_geruestet_gegen_Datenklau/220816/index.html')
        | “Gut gerüstet gegen Datenklau.”
      span.website Ratgeber Ard.de
      span.date 2013-07-03.
    div
      span.author Wimmer, Barbara.
      a.title(href='http://futurezone.at/netzpolitik/16495-wie-man-der-nsa-spionage-entkommen-kann.php')
        | “Wie man der NSA-Spionage entkommen kann.”
      span.website Futurezone.at
      span.date 2013-06-16.
    div
      a.title(href='https://www.piratenpartei.de/2013/06/29/sechs-punkte-plan-fur-ein-freies-netz/')
        | “Sechs-Punkte-Plan für ein freies Netz: Europäische Piratenparteien starten europaweite Kampagne gegen Prism und Tempora.”
      span.website Piratenpartei Deutschland.
      span.date 2013-06-29.
  .pipe
    span.i18n-english
      = t.English
  .text-block
    div
      span.author Bilton, Ricardo.
      a.title(href='http://venturebeat.com/2013/06/13/prism-fears-give-private-search-engine-duckduckgo-its-best-week-ever/')
        | “PRISM fears give private search engine DuckDuckGo its best week ever.”
      span.website VentureBeat.
      span.date 2013-06-13.
    div
      span.author Daws, Ryan.
      a.title(href='http://www.telecomstechnews.com/news/2013/jun/14/looking-hide-online-prism-break-shows-you-how/')
        | “Looking to hide online? PRISM-break shows you how.”
      span.website Telecoms Tech.
      span.date 2013-06-14.
    div
      span.author Downey, Sarah A.
      a.title(href='https://www.abine.com/blog/2013/you-cant-stop-the-nsa-from-tracking-you-but-you-can-mess-up-their-data/')
        | “You can’t stop the NSA from tracking you, but you can make it harder.”
      span.website Abine: The Online Privacy Blog.
      span.date 2013-06-13.
    div
      span.author Garcia, Oskar.
      a.title(href='http://www.slate.com/blogs/future_tense/2013/06/17/identi_ca_diaspora_and_friendica_are_more_secure_alternatives_to_facebook.html')
        | “NSA Revelations Reframe Digital Life for Some.”
      span.website ABC News.
      span.date 2013-07-22.
    div
      span.author Glaser, April, and Libby Reinish.
      a.title(href='http://www.slate.com/blogs/future_tense/2013/06/17/identi_ca_diaspora_and_friendica_are_more_secure_alternatives_to_facebook.html')
        | “How to Block the NSA From Your Friends List.”
      span.website Slate.
      span.date 2013-06-17.
    div
      span.author Jolly, Jennifer.
      a.title(href='http://www.telecomstechnews.com/news/2013/jun/14/looking-hide-online-prism-break-shows-you-how/')
        | “TECH NOW: How to fly under the radar online”
      span.website USA TODAY.
      span.date 2013-06-30.
    div
      span.author Khazan, Olga.
      a.title(href='http://www.theatlantic.com/international/archive/2013/07/the-creepy-longstanding-practice-of-undersea-cable-tapping/277855/')
        | “The Creepy, Long-Standing Practice of Undersea Cable Tapping.”
      span.website The Atlantic.
      span.date 2013-07-16.
    div
      span.author Keiser, Max.
      a.title(href='http://www.maxkeiser.com/2013/06/site-of-the-day-prism-break-org/')
        | “Site of the day: prism-break.org.”
      span.website Max Keiser Financial War Reports.
      span.date 2013-06-11.
    div
      span.author Khanse, Anand.
      a.title(href='http://news.thewindowsclub.com/opt-out-of-prism-website-launched-63420/')
        | “Opt Out Of PRISM website launched; recommends alternative software & services”
      span.website TWCN Tech News.
      span.date 2013-06-16.
    div
      span.author Lopez, Alfredo.
      a.title(href='http://www.counterpunch.org/2013/07/03/the-snowden-controversy-and-our-legacy-of-choices/')
        | “The Snowden Controversy and Our Legacy of Choices”
      span.website Counterpunch.
      span.date 2013-07-03.
    div
      span.author Love, Dylan.
      a.title(href='http://www.businessinsider.com/how-to-opt-out-of-prism-2013-6')
        | “How To Become Invisible To The NSA's Domestic Spying Program”
      span.website Business Insider.
      span.date 2013-06-16.
    div
      span.author Luckerson, Victor.
      a.title(href='http://business.time.com/2013/06/20/the-anonymous-internet-privacy-tools-grow-in-popularity-following-nsa-revelations')
        | “The Anonymous Internet: Privacy Tools Grow in Pop.text-blockarity Following NSA Revelations”
      span.website TIME.com.
      span.date 2013-06-20.
    div
      span.author Midlane, Thomas.
      a.title(href='http://www.huffingtonpost.co.uk/thomas-midlane/nsa-leaks-edward-snowden_b_3504750.html')
        | “Why Is the Media So Silent About the Content of Edward Snowden's NSA Leaks?”
      span.website The Huffington Post UK.
      span.date 2013-07-05.
    div
      span.author Neagle, Colin.
      a.title(href='https://web.archive.org/web/20140113142442/http://www.networkworld.com/community/blog/how-opt-out-prism-nsas-spying-program')
        | “How to opt out of PRISM, the NSA’s spying program.”
      span.website Network World.
      span.date 2013-06-10.
    div
      span.author Phipps, Simon.
      a.title(href='http://www.infoworld.com/d/open-source-software/how-break-out-of-prism-220733')
        | “How to break out of PRISM.”
      span.website InfoWorld.
      span.date 2013-06-14.
    div
      span.author Rogoff, Zak.
      a.title(href='https://www.fsf.org/campaigns/surveillance')
        | “Protect your freedom and privacy; join us in creating an Internet that's safer from surveillance.”
      span.website Free Software Foundation.
      span.date 2013-07-18.
    div
      span.author Rudkowski, Luke.
      a.title(href='https://www.youtube.com/watch?v=MEiNbbU8vvQ')
        | “How to Opt-Out of Prism.”
      span.website wearechange.org.
      span.date 2013-08-12.
    div
      span.author Sawyer, Richard.
      a.title(href='http://www.sott.net/article/263459-21st-Century-Industrial-Complexes-part-2-Surveillance-Cyber-Spying-and-the-National-Stasi-Agency')
        | “21st Century Industrial Complexes, part 2: Surveillance, Cyber-Spying and the National Stasi Agency.”
      span.website Sott.net.
      span.date 2013-06-27.
    div
      span.author SkyMarshal.
      a.title(href='https://news.ycombinator.com/item?id=6010803')
        | “Prism Break.”
      span.website Hacker News.
      span.date 2013-07-09.
    div
      span.author Walton, Zach.
      a.title(href='http://www.webpronews.com/dont-trust-tech-companies-with-your-data-use-these-alternatives-2013-06')
        | “Don’t Trust Tech Companies With Your Data? Use These Alternatives.”
      span.website WebProNews
      span.date 2013-06-10.
    div
      span.author Wheatley, Mike
      a.title(href='http://siliconangle.com/blog/2013/06/12/how-to-get-out-of-prism-and-avoid-nsa-spying/')
        | “How To Get Out Of PRISM and Avoid NSA Spying”
      span.website SiliconANGLE.
      span.date 2013-06-12
    div
      a.title(href='http://www.reddit.com/r/technology/comments/1g1sxa/how_to_opt_out_of_prism_the_nsas_global_data/')
        | “How to opt out of PRISM, the NSA’s global data surveillance program.”
      span.website Reddit.
      span.date 2013-06-10.
  .pipe
    span.i18n-spanish
      = t.Spanish
  .text-block
    div
      span.author Alvarez, Felipe.
      a.title(href='http://alt-tab.com.ar/prism-que-es-posibles-consecuencias-como-evitarlo')
        | “PRISM: qué es, posibles consecuencias, cómo evitarlo.”
      span.website alt-tab.
      span.date 2013-06-17.
    div
      span.author Camacho, Victor.
      a.title(href='https://web.archive.org/web/20130811034005/http://www.blogarizate.com/2013/07/guia-practica-para-evitar-ser-espiados.html')
        | “Guía práctica para evitar ser espiados en internet.”
      span.website Blogarizate.
      span.date 2013-07-28.
    div
      span.author El Zappo.
      a.title(href='http://homozapping.com.mx/2013/07/publican-lista-de-software-libre-al-que-prism-no-tiene-acceso/')
        | “Publican lista de software libre al que PRISM no tiene acceso.”
      span.website Homozapping.
      span.date 2013-07-15.
    div
      span.author Mu.
      a.title(href='http://ciberderechos.barrapunto.com/ciberderechos/13/06/11/1050240.shtml')
        | “De PRISM también se sale.”
      span.website Barrapunto.
      span.date 2013-06-12.
    div
      span.author Notario, Elías
      a.title(href='http://es.gizmodo.com/no-te-dejes-espiar-y-como-lograrlo-906830683')
        | “No te dejes espiar y cómo lograrlo.”
      span.website Gizmodo en Español.
      span.date 2013-06-25.
    div
      span.author Novoa, Jaime
      a.title(href='http://www.genbeta.com/seguridad/mozilla-reddit-y-eff-lanzan-stopwatching-us-una-campana-en-contra-de-prism')
        | “Mozilla, Reddit y EFF lanzan Stopwatching.Us, una campaña en contra de PRISM.”
      span.website Genbeta.
      span.date 2013-06-12.
    div
      span.author pijamasurf
      a.title(href='http://pijamasurf.com/2013/07/anonymous-publica-informacion-personal-de-miembros-de-la-nsa-en-twitter/')
        | “Anonymous publica información personal de miembros de la NSA en Twitter.”
      span.website Pijamasurf.
      span.date 2013-07-10.
    div
      span.author Redacción AN.
      a.title(href='http://aristeguinoticias.com/1607/mundo/como-evitar-el-espionaje-en-internet-de-la-nsa-y-el-prism/')
        | “Cómo evitar el espionaje en internet de la NSA y el PRISM.”
      span.website Aristegui Noticias.
      span.date 2013-07-16.
    div
      span.author usemoslinux.
      a.title(href='http://blog.desdelinux.net/como-hacer-para-cuidar-tu-privacidad-en-internet/')
        | “Cómo proteger tu privacidad en Internet.”
      span.website DesdeLinux.
      span.date 2013-07-25.
    div
      a.title(href='http://noticias.terra.es/tecnologia/internet/guia-practica-para-evitar-ser-espiados-en-internet,e8f9c395f0710410VgnVCM20000099cceb0aRCRD.html')
        | “Guía práctica para evitar ser espiados en internet.”
      span.website Terra España.
      span.date 2013-07-25.
    div
      a.title(href='http://www.cba24n.com.ar/content/prism-break-para-escapar-del-espionaje-estadounidense')
        | “Prism-break: para escapar del espionaje estadounidense.”
      span.website cba24n.
      span.date 2013-07-10.
  .pipe
    span.i18n-french
      = t.French
  .text-block
    div
      span.author Big Browser.
      a.title(href='http://bigbrowser.blog.lemonde.fr/2013/06/11/prism-comment-passer-entre-les-mailles-de-la-surveillance-dinternet/')
        | “PRISM — Comment passer entre les mailles de la surveillance d’Internet ?”
      span.website Le Monde.
      span.date 2013-06-11.
    div
      span.author Desaunay Dominique.
      a.title(href='http://www.rfi.fr/technologies/20130703-affaire-snowden-comment-echapper-surveillance-prism')
        | “Comment échapper à la surveillance de Prism?”
      span.website RFI.
      span.date 2013-07-03.
    div
      span.author Duvauchelle, Antoine
      a.title(href='http://www.zdnet.fr/actualites/prism-la-fronde-s-organise-en-europe-et-aux-etats-unis-39791319.htm')
        | “PRISM : la fronde s'organise en Europe et aux Etats-Unis”
      span.website ZDNet.fr.
      span.date 2013-06-12.
    div
      span.author L., A.
      a.title(href='http://www.rtbf.be/info/medias/dossier/vu-sur-le-web/detail_comment-se-rendre-invisible-du-reseau-prism?id=8025651')
        | “Comment se rendre invisible du réseau PRISM?”
      span.website RTBF Medias.
      span.date 2013-06-24.
    div
      span.author L., J.text-blockien.
      a.title(href='http://www.numerama.com/magazine/26211-prism-des-logiciels-et-services-alternatifs-pour-limiter-la-surveillance.html')
        | “PRISM : des logiciels et services alternatifs pour limiter la surveillance.”
      span.website Numerama.
      span.date 2013-06-11.
    div
      span.author Pelletier, Nicolas.
      a.title(href='http://www.rue89.com/2013/06/11/surveillance-comment-contourner-programme-prism-243208')
        | “Surveillance : comment contourner le programme Prism.”
      span.website Rue89.
      span.date 2013-06-11.
    div
      a.title(href='http://www.wikistrike.com/article-prism-comment-passer-entre-les-mailles-de-la-surveillance-d-internet-118425122-comments.html')
        | “PRISM – Comment passer entre les mailles de la surveillance d’Internet ?”
      span.website WikiStrike.
      span.date 2013-06-11.
  .pipe
    span.i18n-italian
      = t.Italian
  .text-block
    div
      span.author Frediani, Carola.
      a.title(href='http://daily.wired.it/news/internet/2013/06/14/prism-datagate-579222.html')
        | “Prism, ecco come sfuggirgli.”
      span.website Wired.it.
      span.date 2013-06-14.
    div
      span.author Guida, Andrea.
      a.title(href='http://www.geekissimo.com/2013/06/16/prism-break-alternative-sicure-servizi-software-spioni/')
        | “PRISM Break, lista delle alternative “sicure” ai servizi e ai software “spioni”.”
      span.website Geekissimo.
      span.date 2013-06-16.
    div
      span.author Informare per resistere.
      a.title(href='http://www.informarexresistere.fr/2013/07/08/blocca-il-controllo-del-governo-usa-s.text-blockle-tue-attivita-online-liberati-da-prism/')
        | “Blocca il controllo del governo USA s.text-blockle tue attività online. Liberati da Prism!.”
      span.website Informare per Resistere.
      span.date 2013-07-08.
    div
      span.author Mucciarelli, Bruno.
      a.title(href='https://tech.fanpage.it/prism-ecco-alcuni-consigli-su-come-proteggere-la-propria-privacy/')
        | “PRISM, ecco alcuni consigli su come proteggere la propria privacy.”
      span.website Tech Fanpage.
      span.date 2013-06-17.
  .pipe
    span.i18n-dutch
      = t.Dutch
  .text-block
    div
      span.author Pruyn, Rowald.
      a.title(href='http://www.zdnet.be/article/149845/website-wijst-hoe-je-van-spionage-prism-afkomt/')
        | “Website wijst hoe je van spionage PRISM afkomt.”
      span.website ZDNet.be.
      span.date 2013-06-11.
    div
      span.author Pruyn, Rowald.
      a.title(href='http://www.pcmweb.nl/nieuws/website-biedt-alternatieven-om-prism-spionage-te-voorkomen.html')
        | “Website biedt alternatieven om PRISM-spionage te voorkomen.”
      span.website PCM.
      span.date 2013-06-10.
    div
      span.author Verkuil, Martijn.
      a.title(href='http://www.computeridee.nl/nieuws/prism-breakorg-voorkom-prism-spionage')
        | “Prism-break.org: Voorkom PRISM-spionage”
      span.website Computer Idee.
      span.date 2013-06-13.
    div
      a.title(href='http://www.trouw.nl/tr/nl/5133/Media-technologie/article/detail/3457572/2013/06/12/Ontwerper-zet-NSA-vrije-software-op-een-rij.dhtml')
        | “Ontwerper zet 'NSA-vrije' software op een rij.”
      span.website Trouw.
      span.date 2013-06-12.
  .pipe
    span.i18n-polish
      = t.Polish
  .text-block
    div
      span.author altruista.
      a.title(href='http://strims.pl/s/Security/t/u0axy3/nie-daj-sie-szpiegowac-prism-break')
        | “Nie daj się szpiegować - PRISM BREAK.”
      span.website strims.pl.
      span.date 2013-06-12.
    div
      span.author fabek.
      a.title(href='http://www.wykop.pl/link/1550337/nie-daj-sie-szpiegowac-prism-break/')
        | “Nie daj się szpiegować - PRISM BREAK.”
      span.website Wykop.pl.
      span.date 2013-06-11.
    div
      span.author igH
      a.title(href='http://niebezpiecznik.pl/post/nieszpiegujace-zamienniki-oprogramowania/')
        | “* “nieszpiegujące” zamienniki oprogramowania.”
      span.website Niebezpieczenik.pl.
      span.date 2013-06-17.
  .pipe
    span.i18n-portuguese
      = t.Portuguese
  .text-block
    div
      span.author Capanema, Rafael.
      a.title(href='http://www1.folha.uol.com.br/tec/2013/07/1313856-alternativas-a-servicos-on-line-monitorados-pelos-eua-crescem.shtml')
        | “ Alternativas a serviços on-line monitorados pelos EUA crescem .”
      span.website Folha de S.Pa.text-blocko.
      span.date 2013-07-22.
    div
      span.author de Sá, Nelson.
      a.title(href='http://www1.folha.uol.com.br/colunas/nelsondesa/2013/07/1311846-para-se-livrar-do-google.shtml')
        | “Para se livrar do Google.”
      span.website Folha de S.Pa.text-blocko.
      span.date 2013-07-16.
    div
      span.author Simões Gomes, Helton
      a.title(href='http://g1.globo.com/tecnologia/noticia/2013/07/ativista-da-web-cria-lista-de-servicos-para-fugir-do-monitoramento-dos-eua.html')
        | “Ativista da web cria lista de serviços para fugir do monitoramento dos EUA.”
      span.website Globo Tecnologia e Games.
      span.date 2013-07-08.
  .pipe
    span.i18n-russian
      = t.Russian
  .text-block
    div
      span.author Михаил Бушуев, Клаус Янзен.
      a.title(href='http://dw.de/p/18owi')
        | “Как защититься от онлайн-слежки”
      span.website DW.de.
      span.date 2013-06-14.
  .pipe
    span.i18n-swedish
      = t.Swedish
  .text-block
    div
      span.author Jenselius Michael.
      a.title(href='https://pcforalla.idg.se/2.1054/1.513280/11-satt-att-undvika-nsa-s-spionerier')
        | “11 sätt att undvika NSA:s spionerier”
      span.website PC för Alla.
      span.date 2013-06-19.
  .pipe
    span.i18n-chinese-simplified
      = t['Chinese (Simplified)']
  .text-block
    div
      span.author blackhat.
      a.title(href='http://www.solidot.org/story?sid=35183')
        | “如何避开网络跟踪和隐藏网络痕迹.”
      span.website Solidot.pl.
      span.date 2013-06-17.
