.bottom blockquote
  p 1em 1em 0
  margin 0

.bottom blockquote p
  margin 0 0 1em
  max-width 60em

.bottom blockquote a
  font-weight bold

.bottom blockquote cite
  font-style normal

.bottom ul
  p 1em 1em .5em

.bottom ul li
  m 0 0 .5em

.bottom ul li a:hover
  td underline

footer
  p 1em 0
  bg txt
  c bg2
  ul
    d none
    mb .5em
    clearfix()
    li
      float left
      br 1px solid dim
      p 0 1em
      &.last
        br none
  p
    p 0 1em
