.bottom h2
  font-size 1.5em
  margin 0 0 .667em

.bottom blockquote
  background #eee
  padding 2em
  margin 0

.bottom blockquote p
  margin 0 0 1.5em
  max-width 60em

.bottom blockquote a
  font-weight bold

.bottom blockquote cite
  font-style normal

.bottom ul
  pl 2em

.bottom ul li
  list-style square

footer
  padding: .5em 0 .5em
  background: #333
  color: #eee
  border-top: 1px solid #777

footer ul
  list-style: none
  padding: 0
  height: 27px

footer ul li
  float: left
  border-right: 1px solid #777
  padding-right: 1em
  margin-left: 1em

footer ul li.last
  border: none

p.disclaimer
  clear: both
  padding: 0 1em


