.bottom a, #footer a
  color #0ae

.bottom a:hover, #footer a:hover
  color #0bf
  text-decoration underline

.bottom
  background #333
  border-top 1px solid #666
  padding 2em 1em
  color #eee

.bottom h2
  font-size 1.5em
  color #eee
  margin 0 0 .667em

.bottom h2 strong
  color #fff

.bottom blockquote
  background #555
  padding 2em
  margin 0

.bottom blockquote p
  margin 0 0 1.5em
  color #fff
  max-width 60em

.bottom blockquote a
  font-weight bold

.bottom blockquote cite
  font-style normal

.bottom ul
  list-style square

footer
  padding: .5em 0 .5em
  background: #333
  color: #eee
  border-top: 1px solid #777

footer ul
  list-style: none
  padding: 0
  height: 27px

footer ul li
  float: left
  border-right: 1px solid #777
  padding-right: 1em
  margin-left: 1em

footer ul li.last
  border: none

p.disclaimer
  clear: both
  padding: 0 1em


