#header-site
  position fixed
  top 0
  w 100%
  padding 0;
  height 3em
  border-bottom 1px solid #ddd
  background linear-gradient(top, m255, m240 100%)
  box-shadow b7 0 0 3em

h1#brand
  d inline-block
  font-size 1em
  line-height 3em
  text-transform uppercase
  text-align center
  display inline-block
  font-weight normal

  a
    c txt

    .lightning
      c light

    &:hover,
    &:hover .lightning
      color #09c

#page-switch
  .switch
    border 1px solid #ddd
    height 30px
    margin 8px 0

    a.switch-button
      line-height 30px
      display block
      padding 0 .5em
      float left
      width 90px
      text-align center

      &.default
        border-right 1px solid #ddd

      &.active
        color #333
        background #fff
        cursor default

      &.inactive
        background #eee
        color #999

#page-switch .switch a.switch-button.inactive:hover
  color #09c
  background #f5f5f5
