#header-site .menu-trigger
  ta center
  f 1.25em/48px sans
  m 0 x
  float left
  border-radius 3px
  cursor pointer

#jPanelMenu-menu
  background #333
  width 240px
  display none

  ul
    li
      a
        color #eee
        display block
        padding 0 .75em
        font 14px/1.45 sans
        &:hover
          c #fff
          bg #444

#menu
  display none

#languages
  float right
  height 48px
  p 12px

select
  box-sizing border-box
  d block
  f 16px sans
  h 24px
  c txt
  m 0
  p 0
  outline none
  w 100px
  bg #fff
  b 1px solid bc
