section 
  padding .25em 0 0

section ul
  padding 0 1.5em
  list-style none

section ul li
  clearfix()

.prop ul li
  line-height 32px
  margin 0 0 1em

.prop .logo
  float left
  margin-right .75em

.prop .logo img
  display block
  width 32px
  height 32px

.free li
  margin 0 0 1.5em

.free li.best
  border-bottom 1px solid #efefef
  padding-top .5em
  padding-bottom 1.5em

.free li.best:last-of-type
  padding-bottom 0
  border-bottom none

.free li.best .name .title
  font-size 1.5em
  line-height 1.25em

.free li.best .desc
  font-weight bold

.free .logo
  float left
  margin-right 1em

.free .logo img
  display block
  width 50px
  height 50px

.free li a.name
  vertical-align bottom

.free li a.name:hover .title
  text-decoration underline

.free li .name .title
  font-weight bold
  display block

.note p,
.note span.p
  display block
  margin 0 0 1em
  font-size 14px
  max-width 40em
  max-width 50em

.note p a:hover,
.note span.p a:hover
  text-decoration underline
