/* PROPRIETARY */

.prop
  &.empty
    d none

.prop ul
  p .5em 0 .75em
  bb 1px solid #ddd

.prop ul li
  p .25em .75em

.prop .logo
  float left
  margin-right .5em

.prop .logo img
  display block
  width 16px
  height 16px

.prop .name
  lh x


/* FREE */

.free ul li
  border-bottom 1px solid #ddd
  list-style none
  clearfix()
  line-height 1.25

  a
    d block
    p .75em
    clearfix()
    &:hover
      h4
        td underline
        c hover

  img
    display block
    float left
    width 50px
    height 50px
    margin-right 1em

  h4, p
    display inline

  h4
    font-weight bold

  p.desc
    c txt


/* NOTES */

.notes div
  p .75em 1em 0
  p
    margin 0 0 1em
    max-width 50em
    a:hover
      td underline
