.prop ul li
  line-height 32px
  margin 0 0 1em

.prop .logo
  float left
  margin-right .75em

.prop .logo img
  display block
  width 32px
  height 32px

.free li
  border-top 1px solid #ddd
  list-style none
  clearfix()

.free .logo
  float left
  margin-right 1em

.free .logo img
  display block
  width 50px
  height 50px

.free li a.name:hover .title
  text-decoration underline

.free li .name .title
  font-weight bold
  display block

.free li .desc span
  font-size 85%

.note p,
.note span.p
  display block
  margin 0 0 1em
  font-size 14px
  max-width 40em
  max-width 50em

.note p a:hover,
.note span.p a:hover
  text-decoration underline
