mixin subcategory-head(data)
  .card.text.max
    .btn-rectangle
      .small
        a(href=routes.categories + data.category.slug)
          = data.category.name
      .title= data.subcategory.name
