include ../projects/mixins
extends ../layouts/application
block content

  .pipe 
    a(href="../../categories/#{data.category.slug}")= data.category.name
    |  > 
    a(href='./')= data.subcategory.name

  - each project in data.projects
    mixin project-card(project)
