include ../layouts/mixins
include ../projects/mixins
include ../subcategories/mixins
extends ../layouts/application
block title
  = data.subcategory.name + ' - '
  = data.category.name
block content

  mixin subcategory-head(data)

  .pipe.positive

    = t['Free Alternatives']
    i.fa.fa-check

  - each project in data.projects
    mixin project-card(project)

  if(data.projectsRejected.length > 0)

    .pipe.negative
      = t.Proprietary
      i.fa.fa-times

    - each project in data.projectsRejected
      .bar.negative
        .label
          img.logo(src=routes.logosRejected + project.logo )
          = project.name

    mixin filler-bars(data.projectsRejected)
