include ../subcategories/mixins
include ../projects/mixins
extends ../layouts/application
block content

  mixin subcategory-head(data)

  - each project in data.projects
    mixin project-card(project)

  - each project in data.projectsRejected
    .bar
      .label= project.name
      .icon: i.fa.fa-warning
