include ../subcategories/mixins
include ../projects/mixins
extends ../layouts/application
block content

  mixin subcategory-top(data)

  if data.projects.length > 1
    - each project in data.projects
      mixin project-card(project)
  else
    - each project in data.projects
      mixin project-head(project)
      mixin project-tail(project)
