include ../subcategories/mixins
include ../projects/mixins
extends ../layouts/application
block content

  mixin subcategory-top(data)

  - each project in data.projects
    mixin project-card(project)
