include layouts/mixins
extends layouts/application
block title
  = t.siteTitle
block content

  .content-side
    .text-block.large!= h.marked(t.siteIntroduction)

  .content-main
    - each platformType in platformTypes

      .section
        .pipe= platformType.name

        .bars
          - each category in platformType.categories
            a.bar(href="./categories/#{category.slug}")
              .label= category.name
              .icon: i.fa.fa-angle-right
