extends layouts/application
block title
  = t.siteTitle

block content

  .text-block.large
    p!= t.siteIntroduction

  - each platformType in platformTypes

    .pipe= platformType.name

    - each category in platformType.categories
      a.bar(href="./categories/#{category.slug}")
        .label= category.name
        .icon: i.fa.fa-angle-right
