#billboard
  clearfix()
  h 44px

  a#brand
    p 0 .75em
    fl()
    text-transform uppercase
    font 1em/43px sans
    c txt

    .lightning
      c light

    &:hover,
    &:hover .lightning
      color #09c

  a#donate
    fr()
    p 0 (.75/.8em)
    f .8em/43px sans
    c dim
    &:hover
      c hover
    &:active
      c link
