#footer
  clear both
  p 1em 0
  f .8em/1.5 sans
  clearfix()

  ul
    mb 1em
    clearfix()
    bt 1px solid #ddd
    bl 1px solid #ddd
    li
      fl()
      w 25%
      br 1px solid #ddd
      bb 1px solid #ddd
      a
        d block
        p 0 .5em
        f 1em/2 sans

        &:hover
          bg hover
          c #fff
  p
    p 0 1em 1em
    max-width 50em
