!!! 5
html
  include ../partials/html-head

  body
    include ../partials/header

    .section
      ul
        - each project in table
          li 
            a(href=project.slug)
              img(src=routes.logos + project.logo_file_name)
              .name= project.name
              .category= project.protocols

    include ../partials/footer
