!!! 5
html
  include ../partials/html-head

  body
    include ../partials/header

    .section
      ul
        li 
          a(href=project.wikipedia_url)
            .name= project.name
            .category= project.protocols


    include ../partials/footer
