/*======================================================================
 * Containers
======================================================================*/

body {
  font: 18px/1.5  sans-serif;
  color: #333;
  padding: 0;
  width: 100%;
}

#header {
  border-top: 3px solid #333;
}

#header .container {
  padding: 2em 18px;
  width: 55%;
}

/*======================================================================
 * FSF
======================================================================*/

td.bottom a, #footer a {
  color: #0ae;
}
td.bottom a:hover, #footer a:hover {
  color: #0bf;
  text-decoration: underline;
}

td.bottom {
  background: #eee;
  background: #333;
  border-top: 1px solid #666;
  padding: 2em 1em;
  color: #eee;
}

td#fsf.bottom {
border-top: none;
}

td.bottom h2 {
  font: 1.5em/1.5 sans-serif;
  color: #eee;
  margin: 0 0 .667em;
}
td.bottom h2 strong {
  color: #fff;
}
td.bottom blockquote {
  background: #555;
  padding: 2em;
  margin: 0;

}
td.bottom blockquote p {
  margin: 0 0 1.5em;
  color: #fff;
  max-width: 60em;
}
td.bottom blockquote a {
  font-weight: bold;
}
td.bottom blockquote cite {
  font-style: normal;
}

td.bottom ul {
  list-style: square;
}

/*======================================================================
 * footer
======================================================================*/

#footer {
  padding: .5em 0 .5em;
  background: #333;
  color: #eee;
  border-top: 1px solid #777;
}
#footer ul {
  list-style: none;
  padding: 0;
  height: 27px;
}
#footer ul li {
  float: left;
  border-right: 1px solid #777;
  padding-right: 1em;
  margin-left: 1em;
}
#footer ul li.last {
  border: none;
}

/*======================================================================
 * Typography
======================================================================*/

a {
  text-decoration: none;
  color: #06a;
}
a:hover {
  text-decoration: none;
  color: #09c;
}

.fs {
  background: #aaa;
  font: 12px/1.5 sans-serif;
  display: inline-block;
  color: #fff;
  padding: 0 .5em;
}

#eff {
  height: 54px;
  background: #333;
  float: left;
  margin-right: 9px;
  vertical-align: top;
}

#eff a {
  display: block;
  color: #eee;
  padding: 0 18px 0 14px;
}
#eff a img {
  display: block;
  margin-top: 9px;
  margin-right: .5em;
  float: left;
}
#eff a .label {
  display: block;
  float: left;
  font: 16px/54px sans-serif;
}
#eff a:hover .label {
  color: #fff;
}
#top {
  position: absolute;
  top: 0;
  right: 0;
}


h1 {
  width: 124px;
  height: 54px;
  font: 1em/3 sans-serif;
  padding: 0 18px;
  margin: 0 18px 0 0;
  color: #eee;
  background: #333;
  text-transform: uppercase;
  float: left;
}


h2 {
  font-weight: normal;
  color: #666;
  margin: 0;
  font-size: 1em;
}
h2 strong {
  color: #333;
}

h3 {
  font: bold 1em/1.5 sans-serif;
}

/*======================================================================
 * Table
======================================================================*/
table {
  width: 100%;
}
table tr {
  border-top: 1px solid #ddd;
}

table td {
  padding: 0;
}



table td ul {
  padding: 0 1.5em;
  list-style: none;
}

table td ul li {
  clear: both;
}

/*======================================================================
 * td.section
======================================================================*/

table td.section {
  width: 20%;
  border-right: 1px solid #ddd;
  padding-left: 1em;
  vertical-align: top;
}

/*======================================================================
 * td.proprietary
======================================================================*/

td.prop {
  width: 27%;
  border-right: 1px solid #ddd;
  vertical-align: top;
}
td.prop ul li {
  line-height: 32px;
  margin: 0 0 1em;
}
td.prop .logo {
  float: left;
  margin-right: .75em;
}
td.prop .logo img {
  display: block;
  width: 32px;
  height: 32px;
}


td.arrow {
  padding: 0;
  width: 5%;
  vertical-align: middle;
  font: 2em/1 sans-serif;
  color: #999;
  border-right: 1px solid #ddd;
  text-align: center;
}
/*======================================================================
 * td.free
======================================================================*/

td.free {
  width: 48%;
  vertical-align: top;
}
td.free li {
  margin: 0 0 1.5em;
  height: 60px;
  vertical-align: middle;
}
td.free .logo {
  float: left;
  margin-right: 1em;
}
td.free .logo img {
  display: block;
  width: 60px;
  height: 60px;
}
 td.free li a.name {
  vertical-align: bottom;
 }
td.free li a.name:hover .title {
  text-decoration: underline;
}
   
 td.free li .name .title {
  font: bold 1.25em/1.5 sans-serif;
  display: block;
  padding-top: 2px;
}
 td.free li .name .desc {
   color: #333;
 }
