span.amp{font-family:Baskerville,Palatino,"Book Antiqua",Georgia,'serif';font-style:italic}
.error::-webkit-input-placeholder{color:#f00}
.error:-moz-placeholder{color:#f00}
*:rselection{background:#ffffe0}
*::-moz-selection{background:#ffffe0}
*::-webkit-selection{background:#ffffe0}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,main{margin:0;padding:0;border:0;outline:0;display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]),[hidden]{display:none}
strong{font-weight:bold}
a{color:#006ebd;text-decoration:none;}
a:hover,a:focus{color:#0467ae}
h2{font-size:16px;line-height:2;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;color:#333;font-weight:bold;padding:0 8px;border-top:1px solid #333;border-bottom:1px solid #ddd}
h3{line-height:2;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;color:#333;border-bottom:1px solid #ddd;background:#f3f3f3;padding:0 8px}
h3 > a{color:#000}
h3 > a:hover{color:#000;text-decoration:underline}
.fs{border:1px solid #ddd;font-size:12px;line-height:16px;display:inline-block;padding:0 .4em;font-weight:normal;vertical-align:text-bottom}
.fs.icon{padding:0;background:transparent;border:none}
.fs.icon img{width:18px;height:18px;vertical-align:bottom}
.fs.newbie{background:#4a0}
body{font-size:16px;line-height:1.5;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;color:#333;background:#fff;direction:ltr}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#header-site{position:fixed;top:0;width:100%;padding:0;height:3em;border-bottom:1px solid #ddd;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f0f0f0));background:-webkit-linear-gradient(top, #fff 0, #f0f0f0 100%);background:-moz-linear-gradient(top, #fff 0, #f0f0f0 100%);background:-o-linear-gradient(top, #fff 0, #f0f0f0 100%);background:-ms-linear-gradient(top, #fff 0, #f0f0f0 100%);background:linear-gradient(top, #fff 0, #f0f0f0 100%);-webkit-box-shadow:rgba(0,0,0,0.07) 0 0 3em;box-shadow:rgba(0,0,0,0.07) 0 0 3em}
h1#brand{display:inline-block;font-size:1em;line-height:3em;text-transform:uppercase;text-align:center;display:inline-block;font-weight:normal;}
h1#brand a{color:#333;}
h1#brand a .lightning{color:#999}
h1#brand a:hover,h1#brand a:hover .lightning{color:#09c}
#page-switch .switch{border:1px solid #ddd;height:30px;margin:8px 0;}
#page-switch .switch a.switch-button{line-height:30px;display:block;padding:0 .5em;float:left;width:90px;text-align:center;}
#page-switch .switch a.switch-button.default{border-right:1px solid #ddd}
#page-switch .switch a.switch-button.active{color:#333;background:#fff;cursor:default}
#page-switch .switch a.switch-button.inactive{background:#eee;color:#999}
#page-switch .switch a.switch-button.inactive:hover{color:#09c;background:#f5f5f5}
#header-site .menu-trigger{text-align:center;float:left;cursor:pointer;margin:8px;}
#header-site .menu-trigger .border{display:block;border:1px solid #ddd;width:32px;height:32px;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:1px solid #f00 0 0 2px 2px;box-shadow:1px solid #f00 0 0 2px 2px;}
#header-site .menu-trigger .border .btn{display:block;width:30px;height:30px;border:1px solid #fff;font:1.25em/28px 'Helvetica Neue',Arial,Helvetica,sans-serif;-webkit-border-radius:2px;border-radius:2px;color:#666}
#header-site .menu-trigger:hover .border{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f5f5f5));background:-webkit-linear-gradient(top, #fff 0, #f5f5f5 100%);background:-moz-linear-gradient(top, #fff 0, #f5f5f5 100%);background:-o-linear-gradient(top, #fff 0, #f5f5f5 100%);background:-ms-linear-gradient(top, #fff 0, #f5f5f5 100%);background:linear-gradient(top, #fff 0, #f5f5f5 100%);}
#header-site .menu-trigger:hover .border .btn{color:#0467ae}
#header-site .menu-trigger:active .border{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #c8c8c8), color-stop(1, #dcdcdc));background:-webkit-linear-gradient(top, #c8c8c8 0, #dcdcdc 100%);background:-moz-linear-gradient(top, #c8c8c8 0, #dcdcdc 100%);background:-o-linear-gradient(top, #c8c8c8 0, #dcdcdc 100%);background:-ms-linear-gradient(top, #c8c8c8 0, #dcdcdc 100%);background:linear-gradient(top, #c8c8c8 0, #dcdcdc 100%);}
#header-site .menu-trigger:active .border .btn{color:#999;border-color:#b4b4b4}
#jPanelMenu-menu{background:#333;width:240px;}
#jPanelMenu-menu ul li a{color:#eee;display:block;padding:0 .75em;font:14px/1.45 'Helvetica Neue',Arial,Helvetica,sans-serif;}
#jPanelMenu-menu ul li a:hover{color:#fff;background:#444}
#menu{display:none}
#header-site ul.nav{float:right;height:48px;}
#header-site ul.nav li{float:left;}
#header-site ul.nav li#donate,#header-site ul.nav li#contribute{display:none;}
#header-site ul.nav li#donate a,#header-site ul.nav li#contribute a{display:block;line-height:3em;padding:0 1em;color:#333;}
#header-site ul.nav li#donate a:hover,#header-site ul.nav li#contribute a:hover{color:#0467ae;text-decoration:underline}
#header-site ul.nav li#language{padding:12px;}
#header-site ul.nav li#language select{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;font:16px 'Helvetica Neue',Arial,Helvetica,sans-serif;height:24px;color:#333;margin:0;padding:0;outline:none;width:100px;background:#fff;border:1px solid #ddd}
#container{width:100%;padding:3em 0 0;}
#container .body{padding-left:320px;}
#container .body h1,#container .body h2,#container .body h3,#container .body p,#container .body ol,#container .body ol,#container .body blockquote,#container .body form{margin-bottom:24px}
#container .body h1{font:3em/1.5 'Helvetica Neue',Arial,Helvetica,sans-serif}
#container .body h2{font:2em/1.5 'Helvetica Neue',Arial,Helvetica,sans-serif}
#container .body h3{font:1.5em/1.5 'Helvetica Neue',Arial,Helvetica,sans-serif}
p.intro{padding:1em;max-width:50em;margin:0;}
p.intro strong{color:#333;font-weight:bold}
section{padding:1em 0}
section ul li{zoom:1}
section ul li:before,section ul li:after{content:"";display:table}
section ul li:after{clear:both}
.prop.empty{display:none}
.prop ul{padding:.5em 0 .75em;border-bottom:1px solid #ddd}
.prop ul li{padding:.25em .75em}
.prop .logo{float:left;margin-right:.5em}
.prop .logo img{display:block;width:16px;height:16px}
.prop .name{line-height:16px}
.free ul li{border-bottom:1px solid #ddd;list-style:none;zoom:1;line-height:1.25;}
.free ul li:before,.free ul li:after{content:"";display:table}
.free ul li:after{clear:both}
.free ul li a{display:block;padding:.75em;zoom:1;}
.free ul li a:before,.free ul li a:after{content:"";display:table}
.free ul li a:after{clear:both}
.free ul li a:hover h4{text-decoration:underline;color:#0467ae}
.free ul li img.logo{display:block;float:left;width:50px;height:50px;margin-right:1em}
.free ul li h4,.free ul li p{display:inline}
.free ul li h4{font-weight:bold}
.free ul li p.desc{color:#333}
.notes div{padding:.75em 1em 0;}
.notes div p{margin:0 0 1em;max-width:50em;}
.notes div p a:hover{text-decoration:underline}
.bottom blockquote{padding:1em 1em 0;margin:0}
.bottom blockquote p{margin:0 0 1em;max-width:60em}
.bottom blockquote a{font-weight:bold}
.bottom blockquote cite{font-style:normal}
.bottom ul{padding:1em 1em .5em;border-bottom:1px solid #ddd}
.bottom ul li{margin:0 0 .5em}
.bottom ul li a:hover{text-decoration:underline}
footer{padding:1em 0;background:#333;color:#eee;}
footer ul{display:none;margin-bottom:.5em;zoom:1;}
footer ul:before,footer ul:after{content:"";display:table}
footer ul:after{clear:both}
footer ul li{float:left;border-right:1px solid #666;padding:0 1em;}
footer ul li.last{border-right:none}
footer p{padding:0 1em 1em}
@media (min-width: 481px){body section div.free ul li h4{line-height:1.5em;display:block}
body section div.free ul li p{line-height:1.5em}
}@media (min-width: 768px){body #header-site ul.nav li#donate,body #header-site ul.nav li#contribute{display:block}
body p.intro{font:1.25em/1.5 'Helvetica Neue',Arial,Helvetica,sans-serif;padding-top:1.5em}
body section{width:100%;zoom:1;}
body section:before,body section:after{content:"";display:table}
body section:after{clear:both}
body section header h2{font-size:1.25em;font-weight:normal}
body section h3{display:block;width:100%}
body section div.prop,body section div.free{float:left;height:auto;}
body section div.prop ul,body section div.free ul{border-bottom:none;}
body section div.prop ul li:last-of-type,body section div.free ul li:last-of-type{border-bottom:none}
body section div.prop{width:33%;}
body section div.prop.empty{display:block}
body section div.prop .logo{margin-right:.75em;}
body section div.prop .logo img{display:block;width:32px;height:32px}
body section div.prop .name{line-height:32px}
body section div.free{width:67%;border-left:1px solid #ddd}
body section div.notes{clear:both;}
body section div.notes h3{border-top:1px solid #ddd}
body #jPanelMenu-menu ul li a{color:#eee;display:block;padding:0 .75em;font:14px/2 'Helvetica Neue',Arial,Helvetica,sans-serif;border-top:1px solid #444;border-bottom:1px solid #222;}
body #jPanelMenu-menu ul li a:hover{color:#fff;background:#444}
body footer ul{display:block}
}@media (min-width: 980px){body section{width:100%;zoom:1;}
body section:before,body section:after{content:"";display:table}
body section:after{clear:both}
body section div.prop,body section div.free,body section div.notes{float:left;height:auto;}
body section div.prop ul,body section div.free ul,body section div.notes ul{border-bottom:none;}
body section div.prop ul li:last-of-type,body section div.free ul li:last-of-type,body section div.notes ul li:last-of-type{border-bottom:none}
body section div.prop{width:25%}
body section div.free{width:40%;border-left:1px solid #ddd}
body section div.notes{clear:none;width:35%;border-left:1px solid #ddd;}
body section div.notes h3{border-top:none}
body section div.notes p{font:14px/1.5 'Helvetica Neue',Arial,Helvetica,sans-serif}
}@media (min-width: 1200px){body section div.notes p{font:16px/1.5 'Helvetica Neue',Arial,Helvetica,sans-serif !important}
}#rtl{direction:rtl;}
#rtl #header-site h1#brand{padding:0 1em}
#rtl #header-site ul.nav{float:left;}
#rtl #header-site ul.nav li{float:right}
#rtl #container section img.logo{float:right;margin-right:0;margin-left:.5em}
#rtl #container section .free img.logo{margin-left:1em}
