/*======================================================================
 * Initial
======================================================================*/

body {
  font: 16px/1.5  Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333;
  padding: 0;
  width: 100%;
  direction: ltr;
}

/*======================================================================
 * Typography
======================================================================*/

a {
  text-decoration: none;
  color: #06a;
}

a:hover {
  text-decoration: none;
  color: #09c;
}

.fs {
  background: #999;
  font-size: 12px;
  display: inline-block;
  color: #fff;
  padding: 0 .5em;
}
.fs.newbie {
  background: #4a0;
}


h2 {
  font-weight: normal;
  color: #666;
  margin: 0;
  font-size: 1em;
}

h2 strong {
  color: #333;
}

h3 {
  font-weight: bold;
  font-size: 1em;
}

h3 > a {
  color: #000;
}

h3 > a:hover {
  color: #000;
  text-decoration: underline;
}


/*======================================================================
 * Header
======================================================================*/

#header-site {
  height: 3em;
  border-bottom: 1px solid #ddd;
  border-top: 3px solid #333;
}
#header-site ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header-site ul li {
  float: left;
  padding: 0 18px;
  line-height: 3em;
}

#header-site ul li#brand {
  border-right: 1px solid #ddd;
  margin: 0;
}
#brand h1 {
  padding: 0;
  margin: 0 1em 0 0;
  font-size: 1em;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}

#brand h1 a {color: #333;}
#brand h1 a strong {color: #e22;}
#brand h1 a .lightning {color: #666;}

#brand h1 a:hover,
#brand h1 a:hover strong,
#brand h1 a:hover .lightning {color: #e22;}

#brand select {
  margin: 0;
}


#header-site ul li#contribute {
  float: right;
  font-weight: bold;
  border-left: 1px solid #ddd;
}
/*======================================================================
 * Introduction
======================================================================*/

#introduction .container {
  padding: 3em 18px;
}

#introduction h2 {
  max-width: 45em;
}


/*======================================================================
 * Table
======================================================================*/

table {
  width: 100%;
}

table tr {
  border-top: 1px solid #ddd;
}

/*======================================================================
 * th
======================================================================*/

table th {
  background: #eee;
}
table th {
  border-right: 1px solid #ddd;
  padding: 0 1em;
  line-height: 2em;
  color: #666;
  text-align: left;
}
table th.comment {
  border-right: none;
}
table td {
  padding: .25em 0 0;
}

/*======================================================================
 * td
======================================================================*/

table td ul {
  padding: 0 1.5em;
  list-style: none;
}

table td ul li {
  clear: both;
}

table td ul li:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}


/*======================================================================
 * td.section
======================================================================*/

table td.section {
  width: 15%;
  border-right: 1px solid #ddd;
  padding-left: 1em;
  vertical-align: top;
}

/*======================================================================
 * td.proprietary
======================================================================*/

td.prop {
  width: 20%;
  border-right: 1px solid #ddd;
  vertical-align: top;
}

td.prop ul li {
  line-height: 32px;
  margin: 0 0 1em;
}

td.prop .logo {
  float: left;
  margin-right: .75em;
}

td.prop .logo img {
  display: block;
  width: 32px;
  height: 32px;
}

/*======================================================================
 * td.free
======================================================================*/

td.free {
  width: 45%;
  vertical-align: top;
  border-right: 1px solid #ddd;
}

td.free li {
  margin: 0 0 1.5em;
}

td.free .logo {
  float: left;
  margin-right: 1em;
}

td.free .logo img {
  display: block;
  width: 50px;
  height: 50px;
}

td.free li a.name {
  vertical-align: bottom;
}

td.free li a.name:hover .title {
  text-decoration: underline;
}

td.free li .name .title {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 1.25em;
  display: block;
}

td.free li .name .desc {
  color: #333;
}


/*======================================================================
 * td.comment
======================================================================*/

td.comment {
  width: 20%;
  vertical-align: top;
  padding: 1em;
}
td.comment p {
  margin: 0 0 1em;
}

/*======================================================================
 * FSF
======================================================================*/

td.bottom a, #footer a {
  color: #0ae;
}

td.bottom a:hover, #footer a:hover {
  color: #0bf;
  text-decoration: underline;
}

td.bottom {
  background: #eee;
  background: #333;
  border-top: 1px solid #666;
  padding: 2em 1em;
  color: #eee;
}

td.bottom h2 {
  font-size: 1.5em;
  color: #eee;
  margin: 0 0 .667em;
}

td.bottom h2 strong {
  color: #fff;
}

td.bottom blockquote {
  background: #555;
  padding: 2em;
  margin: 0;
}

td.bottom blockquote p {
  margin: 0 0 1.5em;
  color: #fff;
  max-width: 60em;
}

td.bottom blockquote a {
  font-weight: bold;
}

td.bottom blockquote cite {
  font-style: normal;
}

td.bottom ul {
  list-style: square;
}

/*======================================================================
 * footer
======================================================================*/

footer {
  padding: .5em 0 .5em;
  background: #333;
  color: #eee;
  border-top: 1px solid #777;
}

footer ul {
  list-style: none;
  padding: 0;
  height: 27px;
}

footer ul li {
  float: left;
  border-right: 1px solid #777;
  padding-right: 1em;
  margin-left: 1em;
}

footer ul li.last {
  border: none;
}

p.disclaimer {
  clear: both;
  padding: 0 1em;
}


/*======================================================================
 * Right to left support
======================================================================*/

#rtl {
  direction: rtl;
}

#rtl table td.section {
  padding: 0 1em 0 0;
}

#rtl td.prop {
  border-right: 1px solid #ddd;
}

#rtl td.prop .logo {
  float: right;
  margin-right: 0;
  margin-left: .75em;
}

#rtl td.free {
  border-right: 1px solid #ddd;
}
#rtl td.free .logo {
  float: right;
  margin-right: 0;
  margin-left: 1em;
}
#rtl #top {
  position: absolute;
  top: 0;
  left: 0;
}
#rtl #brand h1 {
  margin: 0 0 0 1em;
}
