include ../projects/mixins
include ../layouts/mixins
include ../categories/mixins
include ../subcategories/mixins
extends ../layouts/application
block title
  = category.name + ' - '
  = t.Platforms
block content

  .content-main

    mixin category-head(category)

    - each subcategory in category.subcategories

      .area
        mixin subcategory-title(category, subcategory)

        .sections
          .section
            .pipe.positive

              = t['Free Alternatives']
              i.fa.fa-check

            - each project in subcategory.projects
              mixin project-card(project)

            mixin filler-cards(subcategory.projects)

          if(subcategory.projectsRejected.length > 0)
            .section
              .pipe.negative
                = t.Proprietary
                i.fa.fa-times

              - each project in subcategory.projectsRejected
                .bar.negative
                  .label
                    img.logo(src=routes.logosRejected + project.logo )
                    = project.name
                  .icon: i.fa.fa-ban

              mixin filler-bars(subcategory.projectsRejected)

  .content-side
    .section

      .pipe
        = t.Categories

      - each subcategory in category.subcategories
        a.pipe.subtle(href="##{subcategory.slug}")= subcategory.name
