extends ../layouts/application
block content

  .pipe: a(href='./')= category.name

  - each subcategory in category.subcategories
    a.bar(href="../../subcategories/#{category.slug}-#{subcategory.slug}")
      .label= subcategory.name
      .icon: i.fa.fa-angle-right
