include ../layouts/mixins
include ../categories/mixins
extends ../layouts/application
block title
  = category.name + ' - '
  = t.Platforms
block content

  mixin category-head(category)

  - each subcategory in category.subcategories
    a.bar(href="../../subcategories/#{category.slug}-#{subcategory.slug}")
      .label
        img.logo(src=routes.logos + subcategory.randomLogo)
        = subcategory.name
      .icon: i.fa.fa-angle-right

  mixin filler-bars(category.subcategories)
