include ../categories/mixins
extends ../layouts/application
block content

  mixin category-top(category)

  - each subcategory in category.subcategories
    a.bar(href="../../subcategories/#{category.slug}-#{subcategory.slug}")
      .label
        img.logo(src="#{routes.logos}mozilla-firefox.png")
        = subcategory.name
      .icon: i.fa.fa-angle-right
