.bottom blockquote
  p 1em 1em 0
  margin 0

.bottom blockquote p
  margin 0 0 1em
  max-width 60em

.bottom blockquote a
  font-weight bold

.bottom blockquote cite
  font-style normal

.bottom ul
  p 1em 1em .5em
  bb 1px solid bc

.bottom ul li
  m 0 0 .5em

.bottom ul li a:hover
  td underline

#footer
  p 1em 0
  bg txt
  c bg2
  ul
    mb .5em
    clearfix()
    li
      float left
      br 1px solid dim
      p 0 1em
      &.last
        br none
  p
    p 0 1em 1em

#language
  p 12px

  select
    box-sizing border-box
    d block
    f 16px sans
    h 24px
    c txt
    m 0
    p 0
    outline none
    w 100px
    bg #fff
    b 1px solid bc
