#header
  position fixed
  top 0
  w 320px
  padding 0;
  height 3em
  border-bottom 1px solid #ddd
  background linear-gradient(top, m255, m240 100%)
  box-shadow b7 0 0 3em

  .menu_toggle
    ta center
    float left
    cursor pointer
    m x*.5
    .border
      d block
      b 1px solid #ddd
      w 32px
      h 32px
      border-radius 3px
      box-shadow 1px solid #f00 0 0 2px 2px
      .btn
        d block
        w 30px
        h 30px
        b 1px solid #fff
        f 1.25em/28px sans
        border-radius 2px
        c #666
    &:hover
      .border
        background linear-gradient(top, #fff, m245 100%)
        .btn
          c hover
    &:active
      .border
        background linear-gradient(top, m200, m220 100%)
        .btn
          c light
          border-color m180

  ul.nav
    float right
    height 48px
    li
      float left

      &.links
        display block
        .plain
          d block
          lh 3em
          p 0 1em
          c txt
          &.long
            d none
        a.plain:hover
          c hover
          td underline

      &#language
        p 12px

        select
          box-sizing border-box
          d block
          f 16px sans
          h 24px
          c txt
          m 0
          p 0
          outline none
          w 100px
          bg #fff
          b 1px solid bc

#brand
  d inline-block
  font-size 1em
  line-height 3em
  text-transform uppercase
  text-align center
  font-weight normal

  a
    c txt

    .lightning
      c light

    &:hover,
    &:hover .lightning
      color #09c
