#header
  position fixed
  top 0
  w 320px
  padding 0;
  height 44px
  border-bottom 1px solid #ddd
  bg #fff
  box-shadow b10 0 0 1.5em
  z-index 100

  .btn_corner
    ta center
    cursor pointer
    w 44px
    h 43px

    &.left
      float left
      br 1px dashed #ddd
      w 32px
      .btn
        f 1.75em/40px serif
        c #666

    &.right
      float right
      bl 1px solid #ddd
      .btn
        f 1.25em/44px sans
        c #666

    .btn
      d block
      h 43px

    &:hover
      .btn
        bg #eee
        c hover

    &:active
      .btn
        bg #ddd
        c light

#page_title
  fl left
  w 320px - 88px
  p 0 .75em
  font-size 1em
  line-height 44px
  text-transform uppercase
  font-weight normal

  a
    c txt

    .lightning
      c light

    &:hover,
    &:hover .lightning
      color #09c
