= link_to t('v.softwares.new'), new_software_path, class: 'bar right'

- @softwares.each do |software|
  = render 'softwares/card', software: software

= link_to t('v.softwares.new'), new_software_path, class: 'bar right'
