extends ../layouts/application
include ../layouts/mixins
block title
  = t.Protocols
block content

  .content-side
    .text-block.large!= h.marked(t['site-protocols-index'])
  
  .content-main
    each protocolType in protocolTypes

      .section
        .pipe= t[protocolType.name]

        .bars
          each protocol in protocolType.protocols
            a.bar(href=`../protocols/${protocol.slug}`)
              .label= protocol.name
              .icon
                i.fa.fa-angle-right.ltr
                i.fa.fa-angle-left.rtl
