extends ../layouts/application
block title
  = t.Protocols
block content
  
  - each protocolType in protocolTypes

    .pipe= protocolType.name

    - each protocol in protocolType.protocols
      a.bar(href="../protocols/#{protocol.slug}")
        .label= protocol.name
        .icon: i.fa.fa-angle-right
