include ../layouts/mixins
extends ../layouts/application
block title
  = t.Protocols
block content
  
  .content-side
    .text-block.large
      strong Browse projects by protocol.
      | Pick the one you like.

  .content-main
    - each protocolType in protocolTypes

      .section
        .pipe= protocolType.name

        .bars
          - each protocol in protocolType.protocols
            a.bar(href="../protocols/#{protocol.slug}")
              .label= protocol.name
              .icon: i.fa.fa-angle-right
