extends ../layouts/application
block content
  
  - each protocol in table

    a.bar(href=protocol.slug)
      .label
        = t.Browse + ' '
        strong= protocol.name + ' '
        span.light= '(' + protocol.projects.length + ')'
      .icon: i.fa.fa-angle-right
