mixin protocol-head(protocol)
  .box
    .card.text
      .btn-rectangle
        .small
          a(href=routes.protocols)= t.Protocols
          = " /"
        .title= protocol.name
      a.btn-square(href=protocol.wikipedia_url)
        i.fa.fa-external-link-square
    .text-block!= h.marked(protocol.description)
