mixin protocol-top(protocol)
  .card.mega
    .btn-rectangle
      .title= protocol.name
      .category
        = protocol.projects.length + ' '
        | projects
  .text-block= protocol.description
