mixin protocol-top(protocol)
  .card.mega
    .btn-rectangle
      .title= protocol.name
      .category(title=protocol.full_name)
        != h.truncate(protocol.full_name, 37)
    a.btn-square(href=protocol.wikipedia_url)
      i.fa.fa-external-link-square
  .text-block!= h.marked(protocol.description)

  //
    .pipe
      if protocol.projects.length === 1
        = t['One Supported Project']
      else
        = protocol.projects.length + ' '
        = t['Supported Projects']
