include mixins
include ../projects/mixins
extends ../layouts/application
block content

  mixin protocol-top(protocol)

  .pipe= t['Supported Software']

  - each project in protocol.projects
    mixin project-card(project)
