include mixins
extends ../layouts/mixins
include ../projects/mixins
extends ../layouts/application
block title
  = protocol.name + ' - '
  = t.Protocols
block content

  mixin protocol-head(protocol)

  .section
    .pipe.positive
      = t['Projects Supported']
      i.fa.fa-check
    - each project in protocol.projects
      mixin project-card(project)

    mixin filler-cards(protocol.projects)
