include mixins
include ../projects/mixins
extends ../layouts/application
block content

  mixin protocol-head(protocol)

  .pipe.positive
    = t['Projects Supported']
    i.fa.fa-check
  - each project in protocol.projects
    mixin project-card(project)
