#footer

  .content-side
    p.disclaimer= t.siteDisclaimer

  .content-main
    ul.languages
      li: a(href="ar") العربية
      li: a(href="ca") Català
      li: a(href="de") Deutsch
      li: a(href="el") ελληνικά
      li: a(href="eo") Esperanto
      li: a(href="en") English
      li: a(href="es") Español
      li: a(href="fa") فارسی
      li: a(href="fi") Suomi
      li: a(href="fr") Français
      li: a(href="he") עברית
      li: a(href="hi") हिन्दी
      li: a(href="io") Ido
      li: a(href="it") Italiano
      li: a(href="ja") 日本語
      li: a(href="nl") Nederlands
      li: a(href="no") Norsk
      li: a(href="pl") Polski
      li: a(href="pt") Português
      li: a(href="ru") Русский
      li: a(href="sr") srpski
      li: a(href="sr_cr") српски
      li: a(href="sv") Svenska
      li: a(href="tr") Türkçe
      li: a(href="zh_cn") 简体中文
      li: a(href="zh_tw") 繁體中文

  p.copyright
    | &copy; 
    a(href="http://nylira.com/") Peng Zhong 
    | 2013&mdash;
