#header
  
  a#brand(href=routes.root)
    strong PRISM
    span.lightning  &#9889; 
    | Break 

  .menu

    .nav.nav-platforms
      a(href=routes.root)= t.Platforms

    .nav.nav-protocols
      a(href=routes.protocols)= t.Protocols

    .nav.nav-about
      a(href=routes.about)= t.About

    .nav.nav-donate
      a#donate(href="bitcoin:1NAfx5GEZHR8t69LjxTeShPP4XXaxeUqQw")
        = t.Donate + ' BTC'

