#header
  
  #billboard
    #page_title
      a#brand(href=routes.root)
        strong PRISM
        span.lightning  &#9889; 
        | Break 

    a#donate(href="bitcoin:1NAfx5GEZHR8t69LjxTeShPP4XXaxeUqQw")
      = t.Donate + ' BTC'

  ul.tabs

    li.tab-platforms
      a(href=routes.root)= t.Platforms

    li.tab-protocols
      a(href=routes.protocols)= t.Protocols

    li.tab-about
      a(href=routes.about)= t.About
