#header
  
  .top
    #page_title
      a#brand(href=routes.root)
        strong PRISM
        span.lightning  &#9889; 
        | Break 

    a#donate(href="bitcoin:1NAfx5GEZHR8t69LjxTeShPP4XXaxeUqQw")
      = t.Donate + ' BTC'

  ul.tabs
    li: a(href=routes.root)= t.Platforms
    li: a(href=routes.protocols)= t.Protocols
    li: a(href=routes.about)= t.About
