mixin filler-bars(list)
  .filler-columns-two
    if list.length % 2 === 1
      .bar.two-col
        |  

mixin filler-cards(list)
  .filler-columns-two
    if list.length % 2 === 1
      .card.two-col
        |  
