txt = #333
dim = #666
light = #999

bg1 = #fff
bg2 = #eee
bg3 = #ddd

lhue = 210
link = hsl(lhue,100,43)
hover = hsl(lhue,95,39)

bc = bg3

lhue2 = 340
link2 = hsl(340,100,50)
hover2 = hsl(340,100,45)
