#container
  width 100%
  p 3em 0 0

  .body
    pl cw*4

    h1, h2, h3, p, ol, ol, blockquote, form
      mb 16px*1.5

    h1
      f 3em/1.5 sans

    h2
      f 2em/1.5 sans

    h3
      f 1.5em/1.5 sans
