extends ../layouts/application
block content

  h2 
    a(href='./')= category.name

  ul
    - each subcategory in table
      li
        a(href="../../subcategories/#{category.slug}-#{subcategory.slug}")
          .name= subcategory.name
