// available variables = a, e, i, j, k, l, n, r
aa(n = antialiased)
  -webkit-font-smoothing n
abs()
  absolute arguments
b()
  border arguments
bc()
  border-color arguments
bt()
  border-top arguments
br()
  border-right arguments
bb()
  border-bottom arguments
bl()
  border-left arguments
btc()
  border-top-color arguments
brc()
  border-right-color arguments
bbc()
  border-bottom-color arguments
blc()
  border-left-color arguments
bot()
  bottom arguments
bg()
  background arguments
bgc()
  background-color arguments
bgp()
  background-position arguments
bs()
  box-shadow arguments
bx()
  br arguments
  bl arguments
bxs()
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
by()
  bt arguments
  bb arguments
bz(w = 1px, t = #fff, r = #999, b = #000, l = #666)
  bt w solid t
  br w solid r
  bb w solid b
  bl w solid l
c()
  color arguments
d()
  display arguments
f()
  font arguments
ff()
  font-family arguments
fl()
  float left
fr()
  float right
fs()
  font-style arguments
fw()
  font-weight arguments
h()
  height arguments
lh()
  line-height arguments
lhh()
  h arguments
  lh arguments
ls()
  letter-spacing arguments
lst()
  list-style arguments
m()
  margin arguments
mt()
  margin-top arguments
mr()
  margin-right arguments
mb()
  margin-bottom arguments
ml()
  margin-left arguments
o()
  overflow arguments
op()
  opacity arguments
oy()
  overflow-y arguments
ox()
  overflow-x arguments
p()
  padding arguments
pt()
  padding-top arguments
pr()
  padding-right arguments
pb()
  padding-bottom arguments
pl()
  padding-left arguments
q()
  quotes arguments
rel()
  relative arguments
s()
  font-size arguments
ta()
  text-align arguments
td()
  text-decoration arguments
ti()
  text-indent arguments
tj()
  text-justify arguments
ts()
  text-shadow arguments
tt()
  text-transform arguments
v()
  visibility arguments
va()
  vertical-align arguments
w()
  width arguments
wb()
  word-break arguments
wh()
  height arguments
  width arguments
ws()
  white-space arguments
ww()
  word-wrap arguments
z()
  z-index arguments
