serif = Georgia, 'serif'
mono = Consolas, 'Lucida Console', Monaco, Courier New, monospace
sans = 'Helvetica Neue', Arial, Helvetica, sans-serif
lucida = 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif 

span.amp
  font-family Baskerville,Palatino,"Book Antiqua",serif
  font-style italic

.error::-webkit-input-placeholder
  color rgb(255,0,0)

.error:-moz-placeholder
  color rgb(255,0,0)

*:rselection
  bg #ffffe0

*::-moz-selection
  bg #ffffe0

*::-webkit-selection
  bg #ffffe0
