.field
  p 0 .5em 0
  clearfix()

  label
    d block
    fw bold
  p
    s 75%
    c light

  .software-logo
    float right
    m x x 0

input[type=text],
input[type=password],
input[type=url],
input[type=number],
input[type=email],
textarea
  d block
  b 1px solid bc
  p .5em .4em
  f 1em/1.5 sans-serif
  w 100%

textarea
  height 9em

.checkboxes
  m 0 0 1em
.checkbox
  input
    m 0 .5em
  label
    f 1em/2 sans
    p 0
    d inline
    float none
    ta left
    fw normal
