.field
  p 0 1em .5em
  clearfix()
  w 320px

  label
    d block

input[type=text],
input[type=password],
textarea
  d block
  b 1px solid bc
  p .5em .25em
  f 1em/1.5 sans-serif
  w 100%

textarea
  height 9em

.checkbox
  input
    d inline-block
    m 0 .5em
    vertical-align middle
  label
    w auto
    p 0
    d inline
    float none
    ta left
    df()
    fw normal
