.field
  clearfix()
  p .25em 0 0

  label, p
    s 80%
    p 0 1em

  label
    d block
    fw bold
  p
    c dim


  .card-logo
    float right
    m 0 x x 0

input[type=text],
input[type=password],
input[type=url],
input[type=number],
input[type=email],
textarea
  d block
  h 44px
  w 100%
  p 1em
  f 80%/1.5 sans-serif
  b 1px solid bc
  bl none
  br none

input[type=file]
  bg #fff
  f 80%/1.5 sans-serif
  p .8em 1em
  w 100%
  b 1px solid bc
  bl none
  br none

textarea
  height 15em

.checkboxes
  m 0 0 1em
  .checkbox
    bg #fff
    bt 1px solid #ddd

.checkbox
  input
    m 0 .75em 0 1.25em
  label
    f 80%/2 sans-serif
    p 0
    d inline
    float none
    ta left
    fw normal
