p#notice = notice

= render 'protocols/card', protocol: @protocol

= link_to 'More Info', @protocol.url, class: 'btn-square'

= filter_markdown(@protocol.description)

= link_to 'Edit', edit_protocol_path(@protocol)
'|
= link_to 'Back', protocols_path
