input
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

form
  ul.fields
    span 6
    li.field
      bt 1px solid bg2
      clearfix()
      p 1em 0
      label
        col 2
        lh 2em
      input
        col 4
        b 1px solid #ccc
        df()
        lh x*1.5
        p x*.25 x*.3
