.bar
  d block
  h 44px
  bb 1px solid #ddd
  f 1em/43px sans
  p 0 1em
  c #333
  bg #fff

  .label
    float left
    pl 1em

    .logo
      w 24px
      h 24px
      float left
      m 10px 8px 0 -6px

  .icon
    float right
    w 44px
    ta center

a.bar
  relative()
  p 0
  &:hover
    c hover
    bg m245
  &:active
    c hover
    bg m235

