.software-logo
  d block
  float left
  w 60px
  h 60px
  bg #ddd
  mr x*0.75

.card
  border-top 1px solid #ddd
  list-style none
  d block
  w 320px
  clearfix()
  relative()

  a
    &.btn-rectangle
    &.btn-square
      d block

    &.btn-rectangle
      p .75em
      clearfix()
      &:hover
        bg m245

    &.btn-square
      lhh 2em
      ta center
      b 1px solid txt
      p 0 .5em
      s 75%
      c #333
      absolute()
      right 12px
      top 24px
      bg #fff
      &:hover
        bg m245

  .software-logo
    mr x*0.75

  .title
    display inline
    c #333
    pr x * 0.25

  .desc
    c txt
  .category
    f 75%/1.5 sans
    c dim

  &.plugin
    bl x * 0.75 solid #eee
    font-size 80%
    img.logo
      w 25px
      h 25px
      ml x

