.card
  border-top 1px solid #ddd
  list-style none
  clearfix()
  d block
  p .75em
  clearfix()

  a
    &.btn-rectangle
    &.btn-square
      d block
      fl left
    &.btn-rectangle
      w 280px
    &.btn-square
      w 40px

  .image
    d block
    float left
    w 50px
    h 50px
    bg #ddd
    mr x

  .title
    display inline
    c #333

  .title
    font-weight bold
    pr x * 0.25

  .desc
    c txt
  .category
    f 75%/1.5 sans
    c dim

  &.plugin
    bl x * 0.75 solid #eee
    font-size 80%
    img.logo
      w 25px
      h 25px
      ml x

