.card
  border-bottom 1px solid #ddd
  list-style none
  clearfix()
  line-height 1.25

  a
    d block
    p .75em
    clearfix()
    &:hover
      h5
        td underline
        c hover

  img.logo
    d block
    float left
    w 50px
    h 50px
    mr x

  h5, p
    display inline

  h5
    font-weight bold
    pr x * 0.25

  p.desc
    c txt

  &.plugin
    bl x * 0.75 solid #eee
    font-size 80%
    img.logo
      w 25px
      h 25px
      ml x

