body
  .section
    div.free
      ul
        li
          h5
            lh 1.5em
            display block
          p
            lh 1.5em
          &.plugin
            h5
              display inline

