body
  .filler-columns-two
    d block

  .section
    .bar, .card
      w 50% !important
      fl()
      br 1px solid #ddd

  .text-block
    f 16px/1.5 sans !important
    &.large
      f 18px/1.5 sans !important

  #footer
    f 16px/1.5 sans !important
