body
  #header .menu .nav a
    f 16px/43px sans

  .filler-columns-two
    d block

  .section
    .bar, .card
      w 50% !important
      fl()
      br 1px solid #ddd

  .text-block
    f 16px/1.5 sans !important
    &.large
      f 16px/1.5 sans !important

  #header .menu .nav.nav-donate
  #header .menu .nav.nav-platforms
    d block !important

  #footer
    f 16px/1.5 sans !important
    ul.nav
      li
        mr 2em
