body
  #header .menu .nav.nav-all
  #header .menu .nav.nav-donate
  #header .menu .nav.nav-platforms
    d block !important

  .text-block
    f 16px/1.5 sans !important
    &.large
      f 16px/1.5 sans !important

  #footer
    f 16px/1.5 sans !important
    ul.nav
      li
        mr 2em
