body
  d block
  
  .content-main
    m 0 1em

  &.root.index

    .section
      mb 1em
      b 1px solid #ddd

    .pipe
      w 25%
      fl()
      f 16px/44px sans
      lhh 44px
      bg #fff
      bb none

    .bars
      w 75%
      fl()
      bl 1px solid #ddd

    .bar
      w 100% !important
      br none
      &:last-of-type
        bb none
      .label
        fw bold

  .text-block.large
    bb none
    m .5em 0
