body
  p 0 40px 40px

  #container
    pb 1.5em

  &.root.index
    #container
      p 1.5em 0

  .content-side
    float right
    w 33%
    ml 1%
    .text-block
      bb none
      pt 0
  .content-main
    float right
    w 66%

  .text-block.large strong
    pb .75em
    mb .75em
    bb 1px solid #ddd

  #footer
    m 0 -40px -40px
    p 20px 40px 40px

  /*
  .filler-columns-two
    d none !important
  .filler-columns-three
    d block

  .section
    .bar, .card
      w 33.33333% !important
      fl()
      br 1px solid #ddd
