body
  p 0 40px 40px

  #container
    p 2em 0 1em

  .content-side
    d block
    fr()
    w 33.33%

    .text-block
      bb none
      pt 0
      pl 1.5em

    .section
      ml 1em
      bl none
      .pipe
        &.subtle
          bg #fff
      .bar
        float none !important
        w 100% !important
        f .75em sans
        lhh 2em
        br none
        .logo, i.fa, .icon
          d none
        &.parent
          fw bold
        &.child
          pl 2em


  .content-main
    fr()
    m 0
    w 66.67%

  .text-block.large 
    m 0
    strong
      pb .75em
      mb .75em
      bb 1px solid #ddd

  #footer
    p 2em 0
    .content-main
      m 0

  &.categories.show
  &.subcategories.show
  &.protocols.show
  &.projects.show
    #container
      .content-side
        fl()
        m 0 0 1em
        w 20%
        .section
          m 0 1em 0 0
      .content-main
        fl()
        w 80%
