body
  .section
    w 100%
    clearfix()

    div.prop, div.free, div.notes
      float left
      height auto
      ul
        bb none
        li:last-of-type
          bb none
    div.prop
      w 23%
    div.free
      w 40%
      bl 1px solid bc
    div.notes
      clear none
      w 37%
      bl 1px solid bc
      h3
        bt none
      p
        f 14px/1.5 sans
